/*
* Front-end Styles
*/

#wpfss_form_wrapper,
#wpfss_form_wrapper button,
#wpfss_form_wrapper button.close,
#wpfss_form_wrapper form,
#wpfss_form_wrapper form div,
#wpfss_form_wrapper form div input,
#wpfss_form_wrapper form div input.search {
    font-family: inherit;
    background:none;
    border:0 none;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    float:none;
    font-size:100%;
    height:auto;
    letter-spacing:normal;
    list-style:none;
    outline:none;
    position:static;
    text-decoration:none;
    text-indent:0;
    text-shadow:none;
    text-transform:none;
    width:auto;
    visibility:visible;
    overflow:visible;
    margin:0;
    padding:0;
    line-height:1;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -ms-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
    -webkit-appearance:none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}
#wpfss_form_wrapper {
    visibility: hidden;
    opacity: 0;
    z-index: 999998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s linear;
}
#wpfss_form_wrapper.open {
    position: fixed;
    visibility: visible;
    opacity: 1;
}
#wpfss_form_wrapper form {
    width: 100%;
    height: 100%;
}
#wpfss_form_wrapper button.close {
    position: absolute;
    z-index: 999999;
    top: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: 300;
    color: #999;
    cursor: pointer;
    opacity: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
}
#wpfss_form_wrapper form div {
    position: absolute;
    width: 50%;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -25%;
}
#wpfss_form_wrapper form div input {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 40px;
    line-height: 60px;
}